body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  margin-top: : 60px auto 0px auto;
  font-family: 'Sacramento', cursive;
  color: #3f4441;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #11999E;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

img {
  border-radius: 50%;
}

a {
  color: #11999E;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #363636;
  border-width: 5px;
  width: 30%;
}

.Header2 {
  color: #3f4441;
  font-weight: normal;
}

.Top-Container {
  background-color: #2bb2bb;
  position: relative;
  padding-top: 100px;
}

.Web {
  text-decoration: underline;
}

.Top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.Bottom-Cloud {
  position: absolute;
  left: 300px;
  Bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.Computing {
  width: 35%;
  float: left;
  margin-right: 30px;
}

.Webdev {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.profilepic {
  margin-top: 20px;
}

.BUTTON_JQL {
  background: #3D94F6;
  background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: linear-gradient(to bottom, #3D94F6, #1E62D0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 100;
  padding: 18px;
  box-shadow: 1px 1px 20px 0px #000000;
  -webkit-box-shadow: 1px 1px 20px 0px #000000;
  -moz-box-shadow: 1px 1px 20px 0px #000000;
  text-shadow: -58px -42px 18px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
